<!DOCTYPE html>
<html>
    <head>
        <title>Client</title>
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/underscore-min.js"></script>
        <script type="text/javascript" src="/media/js/d3.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var CLIENT_ID = "<%= id %>";
            _.templateSettings = {
                evaluate    : /\[%([\s\S]+?)%\]/g,
                interpolate : /\[%=([\s\S]+?)%\]/g,
                escape      : /\[%-([\s\S]+?)%\]/g
            };
        </script>
        <script type="text/javascript" src="/media/js/client.js"></script>
        <%- partial('colors.ejs') %>

        <script type="text/html" id="7seg-tpl">
            <%- partial('7segment.svg.ejs') %>
        </script>
        <script type="text/html" id="7seg-style">
            body {
                background: [%= bg %];
            }
            g.digit {
                fill-rule: evenodd;
                stroke: [%= bg %];
                stroke-width: 0.25;
                stroke-opacity: 1;
                stroke-linecap: butt;
                stroke-linejoin: miter;
            }
            polygon.on {
                fill: [%= on %];
            }
            polygon.off {
                fill: [%= off %];
            }

            /* blinking */
            @-webkit-keyframes blinker {
                0% { fill: [%= on %]; }
                50% { fill: [%= off %]; }
            }
            @-moz-keyframes blinker {
                0% { fill: [%= on %]; }
                50% { fill: [%= off %]; }
            }
            .blink polygon.on {
                -webkit-animation: blinker 1s step-end 0 infinite;
                -moz-animation-name: blinker;
                -moz-animation-duration: 1s;
                -moz-animation-timing-function: step-end;
                -moz-animation-iteration-count: infinite;
            }
        </script>
    </head>
    <body></body>
</html>