<!DOCTYPE html>
<html>
    <head>
        <title>Client</title>
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/underscore-min.js"></script>
        <script type="text/javascript" src="/media/js/d3.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var CLIENT_ID = "<%= id %>";
            _.templateSettings = {
                evaluate    : /\[%([\s\S]+?)%\]/g,
                interpolate : /\[%=([\s\S]+?)%\]/g,
                escape      : /\[%-([\s\S]+?)%\]/g
            };
        </script>
        <script type="text/javascript" src="/media/js/client.js"></script>
        <%- include colors.ejs %>

        <script type="text/html" id="7seg-tpl">
            <%- include 7segment.svg.ejs %>
        </script>
        <script type="text/html" id="7seg-style">
            body {
                background: [%= bg %];
            }
            g.digit {
                fill-rule: evenodd;
                stroke: [%= bg %];
                stroke-width: 0.25;
                stroke-opacity: 1;
                stroke-linecap: butt;
                stroke-linejoin: miter;
            }
            polygon.on {
                fill: [%= on %];
            }
            polygon.off {
                fill: [%= off %];
            }

            /* blinking */
            @-webkit-keyframes blinker {
                0% { fill: [%= on %]; }
                50% { fill: [%= off %]; }
            }
            @-moz-keyframes blinker {
                0% { fill: [%= on %]; }
                50% { fill: [%= off %]; }
            }
            .blink polygon.on {
                -webkit-animation: blinker 1s step-end 0 infinite;
                -moz-animation-name: blinker;
                -moz-animation-duration: 1s;
                -moz-animation-timing-function: step-end;
                -moz-animation-iteration-count: infinite;
            }
            
            /* fades */
            @-moz-keyframes polygonIn { from { opacity: 0; } to { opacity: 1; } }
            @-webkit-keyframes polygonIn { from { opacity: 0; } to { opacity: 1; } }
            @-moz-keyframes polygonOut { from { opacity: 1; } to { opacity: 0; } }
            @-webkit-keyframes polygonOut { from { opacity: 1; } to { opacity: 0; } }
            
            @-moz-keyframes bodyIn { from { background-color: #000000; } to { background-color: [%= bg %]; } }
            @-webkit-keyframes bodyIn { from { background-color: #000000; } to { background-color: [%= bg %]; } }
            @-moz-keyframes bodyOut { from { background-color: [%= bg %]; } to { background-color: #000000; } }
            @-webkit-keyframes bodyOut { from { background-color: [%= bg %]; } to { background-color: #000000; } }
            
            .fadeIn polygon, .fadeOut polygon, body.fadeIn, body.fadeOut {
                -moz-animation-duration: 2s; -webkit-animation-duration: 2s;
                -moz-animation-timing-function: ease; -webkit-animation-timing-function: ease;
                -moz-animation-iteration-count: 1; -webkit-animation-iteration-count: 1;
            }
            .fadeIn polygon {
                -moz-animation-name: polygonIn; -webkit-animation-name: polygonIn;
                opacity: 1;
            }
            .fadeOut polygon {
                -moz-animation-name: polygonOut; -webkit-animation-name: polygonOut;
                opacity: 0;
            }
            body.fadeIn {
                -moz-animation-name: bodyIn; -webkit-animation-name: bodyIn;
                background-color: [%= bg %];
            }
            body.fadeOut {
                -moz-animation-name: bodyOut; -webkit-animation-name: bodyOut;
                background-color: #000000;
            }
        </script>
    </head>
    <body></body>
</html>
