<!DOCTYPE html>
<html>
    <head>
        <title>Server</title>
        <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/media/js/underscore-min.js"></script>
        <script type="text/javascript" src="/media/js/d3.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            _.templateSettings = {
                evaluate    : /\[%([\s\S]+?)%\]/g,
                interpolate : /\[%=([\s\S]+?)%\]/g,
                escape      : /\[%-([\s\S]+?)%\]/g
            };
        </script>
        <script type="text/javascript" src="/media/js/server.js"></script>
        <%- partial('colors.ejs') %>

        <script type="text/html" id="client-tpl">
            <div class="client" data-client-id=[%= id %]>
                <strong>Client [%= id %]</strong><br />
                <form action="#">
                    <div class="palette">
                        <span class="label">colors:</span>
                        [% for (var i = 0; i < COLORS.length; i++) { %]
                        <div class="swatch" style="background: [%= COLORS[i].bg %]; border: 1px solid [%= COLORS[i].off %];" data-color="[%= i %]"></div>
                        [% } %]
                    </div>
                    <div class="blink">
                        <span class="label">blink:</span>
                        <input type="button" class="blink-button" value="on" />
                        <input type="button" class="blink-button" value="off" />
                    </div>
                    <input type="text" class="value" /> <input type="submit" value="go" />
                    <div class="clear"></div>
                </form>
            </div>
        </script>

        <style type="text/css">
            body {
                background: #ffffff;
                font-family: verdana, sans-serif;
                color: #333333;
            }
            .client {
                background: #eeeeee;
                padding: 10px;
                margin-bottom: 10px;
            }
            .palette, .blink {
                float: left;
                border-right: 1px solid #333333;
                margin-right: 10px;
                height: 20px;
            }
            .swatch {
                float: left;
                width: 15px;
                height: 15px;
                cursor: pointer;
                margin-right: 10px;
            }
            .blink input {
                margin: 0;
                padding: 0;
                font-size: 70%;
                display: block;
                float: left;
                margin-right: 4px;
            }
            .clear {
                clear: both;
            }
            .label {
                display: block;
                float: left;
                margin-right: 5px;
                font-size: 80%;
            }
        </style>
    </head>
    <body>
        <h1>control panel thing</h1>
        <div id="clients">
        </div>
    </body>
</html>